
/*remove arrows/spinners from input type number*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

label.error {
  color: #ff0000;
  font-weight: normal;
}

.navbar .nav-logo a.navbar-brand img {
  width: 132px;
  height: 51px;
}
.ms-auto { 
  position: absolute;
  top: 22px;
  left: 98px;
  z-index: 99999;
} 
.disable_n { pointer-events: none; cursor: default;}

/* ////////// */
.collapse_pdgremove > td{ padding:0px !important; }
/* .collapse_pdgremove table td:nth-last-child(2), */
/* .collapse_pdgremove table th:nth-last-chilsd(2){ border-left: 0px !important; } */

/* .collapse_pdgremove tr:hover{ box-shadow: none !important;  } */
/* .collapse_pdgremove tr{ border-bottom: 0px !important; } */
/* .collapse_pdgremove table th,
.collapse_pdgremove table td{ border-bottom: 0px !important; border-top: none !important;
	border-collapse: inherit; }
.collapse_pdgremove table{ border-spacing: 0px !important; border-collapse: revert !important; } */
